.header {
  background-color: var(--secondary);
  border-radius: 0 8px 8px 0;
  height: 100%;
  padding-top: 10px;

  &.expand {
    width: 300px;
  }

  &.collapse {
    width: 85px;
  }

  .icon {
    cursor: pointer;
    color: var(--text);
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1px;

    .animation {
      animation: rotative 1s ease-in-out;
    }
  }
}

@keyframes rotative {
  0% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  40% {
    transform: rotate(20deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  80% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
