.contentSetting {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    padding: 6px;

    .contentModeTheme {
        display: flex;
        justify-content: space-around;
        width: 80%;

        .iconMode {
            font-size: 45px;
            border-radius: 10px;
            padding: 10px;
            cursor: pointer;

            &.active {
                background-color: var(--hover);
            }
        }
        @media (hover: hover) {
            .iconMode:hover {
                background-color: var(--hover);
            }
        }

    }
}